.sidenav {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color:#285074;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidenav a{
    color:#fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.sidenav a.active{
    background-color: #18344d;
}

.sidenav a:hover{
   background-color: #18344d;
   text-decoration: none;
   color: #fff;
}

.sidenav .fa{
   padding-right: 15px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .sidenav {
        margin-left: -250px;
    }
    .sidenav.active {
        margin-left: 0;
    }
}